<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ hotelName }}Hotel1</h5>
        <h6>{{ city }}City1</h6>
        <p class="card-text">Description of hotel 1.</p>
        <h5>Number of Nights: {{ hotelNights }}</h5>
        <h6>{{ price }}1</h6>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ hotelName }}Hotel2</h5>
        <h6>{{ city }}City2</h6>
        <p class="card-text">
          Description2: Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Magnam sint eum ipsa?
        </p>
        <h5>Number of Nights: {{ hotelNights }}</h5>
        <h6>{{ price }}2</h6>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ hotelName }}Hotel3</h5>
        <h6>{{ city }}City3</h6>
        <p class="card-text">
          Description3: Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptates, mollitia!
        </p>
        <h6>{{ price }}3</h6>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ hotelName }}Hotel4</h5>
        <h6>{{ city }}City4</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <h6>{{ price }}4</h6>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ hotelName }}Hotel5</h5>
        <h6>{{ city }}City5</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam,
          quasi. Vel, assumenda deleniti. Laborum eligendi fuga odio quia?
        </p>
        <h6>{{ price }}5</h6>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ hotelName }}Hotel6</h5>
        <h6>{{ city }}City6</h6>
        <p class="card-text">
          Last description:Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Recusandae in numquam fuga est rem voluptas!
        </p>
        <h6>{{ price }}6</h6>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
