<img
  src="https://images.pexels.com/photos/3106799/pexels-photo-3106799.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
  class="img-fluid"
  alt="..."
/>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex quas voluptatibus
  ab ut, accusamus porro illo asperiores eveniet quaerat cupiditate laboriosam
  officia earum laudantium repellendus pariatur nesciunt? Et nobis cupiditate
  modi ad soluta at repudiandae minima, id tenetur aliquid adipisci consectetur
  ut deleniti eligendi veritatis nisi laboriosam libero quas itaque iure unde
  molestiae! Aperiam quibusdam reprehenderit sed nihil ratione itaque in
  voluptate ut, ex odio, dolores rerum nisi consectetur laboriosam nostrum
  recusandae voluptas! Sequi repellat cumque placeat dolorem, itaque amet eos
  cum ab perspiciatis rerum atque maiores unde eum molestias fugiat ut soluta
  ratione, praesentium fugit! Facere neque distinctio laborum.
</p>
